<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Spaghettisfest kitchen and bar ticketing system"
    />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>Metti</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="metti-root"></div>
    <script id="metti-config" type="application/json">
    {
      "serviceEndpoint": "https://metti.spaghettisfest.lu/api",
      "serviceUsername": "",
      "servicePassword": ""
    }
    </script>
  </body>
</html>
